<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Predict</title>

</head>

<body>
    <div class="container">
        <a class="btn btn-primary btn-lg active" href="/runModel" role="button">Run Predictions</a>
        <div>
            <h2>Hola!!</h2>
            <h3> There is a trending tweet from Elon Musk !</h3>
            <label>With the sentiment score as {impact} the stock prices are {</label>
        </div>
    </div>
</body>

</html>